@charset "utf-8";
/* CSS Document */
body{ background:url(tm_bg.jpg) no-repeat; background-color:#cb1f1d}
.maxmenuww{background: #c9033b;}
.maxMenu{background:none;}
.maxClassMenu{background-color: #b2002e;border-color: #b2002e;}
.maxMenu li a:hover, .maxMenu li.maxHover a,#maxDropbox .maxTitle{background-color: #b2002e;}
.maxSearchbox .btn_search{background: #c9033b;}
.maxSearchbox .maxSearch{border-color: #c9033b;}
body{background: #fff;}
.maxwIn{background:none;}
.maxgflashw{margin-bottom: 10px;}
.goods-shopmax-list{ width:100%;}

/**/
.maxwIn{  width:100%; margin-top:-10px;}
#goods_shopmax_list_1454 dd.goods-shopmax-list-body{background-color:#d9473a;}/*1*/
#goods_shopmax_list_1450 dd.goods-shopmax-list-body{background-color:#bd683f;}/*2*/
#goods_shopmax_list_1452 dd.goods-shopmax-list-body{background-color:#f18427;}/*3*/
#goods_shopmax_list_1456 dd.goods-shopmax-list-body{background-color:#2583b9;}/*4*/
#goods_shopmax_list_1458 dd.goods-shopmax-list-body{background-color:#e8aa01;}/*5*/
#goods_shopmax_list_1460 dd.goods-shopmax-list-body{background-color:#6335d6;}/*6*/
.goods-shopmax-list{ float:left;padding:0; }
.goods-ad-pic a{ float:left; padding:0; margin:0 auto; background:#00F; height:0;}
.goods-ad-pic .ad-pic{ float:left; background-color:#000; height:auto; padding:0; margin:0 auto;}
.max-gbody dd.goods-shopmax-list-body{width:100%; margin:0 auto }
.max-gbody dd.goods-shopmax-list-body .maxContent{width:980px; margin:0 auto}
#goods_shopmax_list_sell .item{ width:230px; height:300px; float:left; margin-bottom:20px; margin-right:10px; overflow:hidden; display:inline; background-color:#fff; text-align:center;display: table-cell;font-size:0; border:0; padding:0}
#goods_shopmax_list_sell p{}
#goods_shopmax_list_sell .item span{color:#b40000;}
.max-gbody .goods-shopmax-list-body .p {width:230px; height:180px; overflow:hidden;}
#goods_shopmax_list_sell .item:hover { transition:all .3s linear; -webkit-transition:all .3s linear; -o-transition:all .3s linear; -moz-transition:all .3s linear; box-shadow:#ffff99 0 0 8px;transform: translateY(-5px);-webkit-transform: translateY(-5px);z-index: 8;box-shadow:2px 2px 18px 3px  #690d0c;}
.item {transition: all 0.3s linear;-webkit-transition: all 0.3s linear;}
#goods_shopmax_list_sell .p a{height:180px;width: 230px;display:table-cell;}
#goods_shopmax_list_sell .p img{ margin:0 auto;  vertical-align:middle;border:0 none;height: expression(this.width > 230 ? this.height = this.height * 180 / this.width : "auto");width: expression(this.width > 230 ? "180px" : "auto");max-width:230px;height:180px;}#goods_shopmax_list_sell .item img {transition: opacity 0.35s, transform 0.35s;-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
-moz-transition: opacity 0.35s,-moz-transform 0.35s;transform: scale3d(1.05,1.05,1);-webkit-transform: scale3d(1.05,1.05,1);		-moz-transform: scale3d(1.05,1.05,1.05);}
#goods_shopmax_list_sell .item:hover img {opacity: 1;transform: scale3d(1,1,1);	-webkit-transform: scale3d(1.2,1.2,1.2);-moz-transform: scale3d(1.2,1.2,1.2);}
#goods_shopmax_list_sell .goods-shopmax-list-body{ background:none;}
#goods_shopmax_list_sell .item h6 a{ width:230px; color:#666; font-size:12px;}
#goods_shopmax_list_sell .item h6 {text-align:left; padding:0 4px; height:36px; line-height:18px; overflow:hidden;}
#goods_shopmax_list_sell .item .i{ width:230px;}
#goods_shopmax_list_sell .item ul{display:inline; overflow:hidden; text-align:left; margin-top:-10px;}
#goods_shopmax_list_sell .item ul li{ line-height:24px; height:20px; width:230px; display:block;}
#goods_shopmax_list_sell .item ul li.gel-price label{ }
.gel-price label,.gel-mktprice label{ display:block;float:left;}
.gel-price,.gel-mktprice{float:left;}
.gel-price{ color:#dc0707}
.max-gbody .goods-shopmax-list-body .gel-price em{ color:#fb2d31; font-family:Verdana, Geneva, sans-serif; font-size:20px; padding-right:0px; float:left;}
.max-gbody .goods-shopmax-list-body .gel-mktprice del{ float:left;}
.i ul{ float:left; padding:8px 4px 0}
.buy-button{}
.buy-button a{ position:absolute; right:8px; bottom:18px;display: inline;width: 60px;height:28px; background:url(../images/qg.png)}

 @-ms-keyframes bounce {
		  from, to {
		    -webkit-transform: translateY(45px) scaleY(.98);
			 -ms-transform: translateY(45px) scaleY(.98);
		            transform: translateY(45px) scaleY(.98);
		  }
		  80% {
		    -webkit-transform: translateY(15px) scaleY(1.02);
			 -ms-transform: translateY(15px) scaleY(1.02);
		            transform: translateY(15px) scaleY(1.02);
		  }
		}
 @-webkit-keyframes bounce {
		  from, to {
		    -webkit-transform: translateY(45px) scaleY(.98);
			 -ms-transform: translateY(45px) scaleY(.98);
		            transform: translateY(45px) scaleY(.98);
		  }
		  80% {
		    -webkit-transform: translateY(15px) scaleY(1.02);
			 -ms-transform: translateY(15px) scaleY(1.02);
		            transform: translateY(15px) scaleY(1.02);
		  }
		}
	
		@keyframes bounce {
		  from, to {
		    -webkit-transform: translateY(30px) scaleY(.98);
			   -ms-transform: translateY(30px) scaleY(.98);
		            transform: translateY(30px) scaleY(.98);
		  }
		  80% {
		    -webkit-transform: translateY(15px) scaleY(1.02);
			 -ms-transform: translateY(15px) scaleY(1.02);
		            transform: translateY(15px) scaleY(1.02);
		  }
		}
  		#redball {
                  position:absolute;
                  top:20px;
                  right:200px;
		  width: 136px;
		  height: 136px;
		  z-index:100;
		  -webkit-transform-origin: center bottom;
		      -ms-transform-origin: center bottom;
		          transform-origin: center bottom;
		  -webkit-animation: bounce 1.8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
		          animation: bounce 1.8s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;   
		}
		